.movieInformationsContainer {
  padding: 25px;
  background-color: #161716;
  border-radius: 25px;
  width: 25%;
}

.movieInformationsDetails {
  list-style: none;
  color: white;

  li {
    margin-top: 25px;
  }
}
