.homeContainer {
  margin: 25px auto;
  width: 100%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(12, auto);

  .subheading {
    color: #ffffff;
    font-size: 30px;
  }
}

.mainPage {
  grid-column: 5/12;
  max-width: 100%;
}


.sideBar {
  grid-column: 1/4;
  margin-right: 25px;
}
